<div class="card-body">
    {{ form_start(form) }}
    <h3 class="mb-3">{{ 'forgot_password'|trans }}</h3>
    <p>Enter your Cottect ID to help us identify you.</p>
    {{ form_row(form.mobile_or_email, {'attr':{'placeholder':'mobile_or_email'|trans }}) }}
    {{ form_row(form.next, {'attr':{'class':'btn btn-primary btn-block'}}) }}
    {{ form_end(form) }}
    <a href="{{ path('login_index') }}" class="card-link">{{ 'return_to_sign_in'|trans }}</a>
</div>
