{% extends 'base.html.twig' %}

{% block page_id 'login' %}

{% block header_right %}
    <a class="btn  btn-outline-light" href="{{ path('register_index') }}">Register</a>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-md-6 pt-5 pb-5">
                <div id="login-form" class="card border-light p-3">
                    <div class="card-body text-center">
                        {{ form_start(login_form) }}
                        <h3 class="mb-5">{{ 'login_to_cottect'|trans }}t</h3>
                        {{ form_row(login_form.mobile_or_email, {'attr':{'placeholder':'mobile_or_email'|trans }}) }}
                        {{ form_row(login_form.password) }}
                        {{ form_row(login_form.login, {'attr':{'class':'btn btn-primary btn-lg btn-block'}}) }}
                        {{ form_end(login_form) }}
                        <a href="#" class="card-link">Forgotten account?</a>
                        <a href="#" class="card-link">Register for Cottect</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
